.button {
  margin-top: 20px;
  padding: 10px 20px;
  border: 3px solid #282c34;
  text-transform: capitalize;
  margin-bottom: 20px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
}

@media (hover: hover) {
  .button:hover {
      background-color:#282c34;
  }
}
